[submodule ".registry"]
	path = .registry
	url = https://github.com/thomvolker/thomvolker.r-universe.dev
	branch = HEAD
[submodule "densityratio"]
	path = densityratio
	url = https://github.com/thomvolker/densityratio
